.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: $width_container;

  @include --tablet {
    max-width: $width_container_tablet;
  }

  @include --mobile {
    max-width: $width_container_mobile;
  }
}
