@mixin colors {
  --app-background: #ffffff;
  --border-color: #dadde5;
  --divider-color: #d3d7e0;
  --head-background: #E8EDF5;

  // Elements
  --element-background: #f5f5f5;
  --element-disabled-color: #d3d7e0;
  --element-disabled-2-color: #46495e;
  --element-disabled-lighten-color: #eaecf0;

  // Text
  --text-color: #2e3146;
  --text-lighten-color: #71809b;
  --text-disabled-color: #a2acbe;
  --text-contrast-color: #ffffff;

  // Primary
  --primary-color: #ca354a;
  --primary-lighten-color: #dc475c;
  --primary-darken-color: #a51c30;

  // Accent
  --accent-color: #2e3146;
  --accent-lighten-color: #71809b;

  // User selection color scheme
  --selection-color: black;
  --selection-background: white;

  // Error page colors
  --error-page-background: #e5e5e5;
  --error-page-icon-color: #cccccc;
  --error-page-text-color: #4c4c4c;
  --error-page-tip-color: #4c4c4cff;

  // Loading indicator colors
  --loading-text-color: #000;
  --loading-background: #fff;

  // Input
  --input-error-border-color: #c93239;
  --input-disabled-color: #a0a0a0;
  --input-disabled-background-2: rgba(153, 153, 153, 0.12);
  --input-disabled-background: #d56070;
  --input-contrast-hover-border: rgba(255, 255, 255, 0.4);
}

// colors that are not css variables can be specified below

$selectionColor: white;
$selectionBackground: black;
